@import '../../Common/colors.scss';

.Header {
    background-color: $secondry-color;
    color: $font-p;

    min-height: 20vh;
    min-height: 20dvh;
    padding-inline: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .Logo {
        font-size: 2.5rem;
        font-weight: 600;
        color: $font-p;
        margin-inline: 1rem;
    }

    .headerContents {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: flex-end;


        .SearchBar {
            width: 30%;
            color: $font-p;
            position: relative;


            input {
                width: 80%;
                padding: 0.5rem 2rem;
                background: none;
                border: none;
                color: $font-p;
                border-bottom: 0.15rem solid $font-p;
            }

            button {
                position: absolute;
                left: 0rem;
                top: 0.5rem;
                background: none;
                border: none;
                color: $font-s;
            }
        }

        .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-inline: 1rem;


            button {
                width: 5rem;
                height: 2.5rem;
                margin-inline: 1rem;
                background: none;
                border: 1px solid white;
                border-radius: 0.25rem;
                color: white;

                &:hover {
                    background-color: aliceblue;
                    color: black;
                }

            }

            img {

                width: 3rem;
            }
        }
    }
}


@media screen and (max-width: 1200px) {}

@media screen and (max-width: 800px) {
    .Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .headerContents {
            width: 90%;
            justify-content: space-evenly;

            .SearchBar {
                width: 100%;

                input {
                    width: 80%;
                    padding: 0.25rem 1.5rem;
                }

                button {
                    left: 0rem;
                    top: 0.25rem;
                }

            }

            .user {
                font-size: .5rem;

                button {
                    width: 3rem;
                    height: 2rem;
                    margin-right: -2rem;
                }

                img {
                    display: none;
                }

            }
        }
    }
}

@media screen and (max-width: 500px) {}

@media screen and (max-width: 300px) {}